.body {
	
}

.navbar {
	padding-left: 50px;
	font-size: 26px;
}

.nav-item {
	padding-left: 10px;
	padding-right: 15px;
}

.fa-home {
	font-size: 32px;
}

.fa-shopping-cart {
	font-size: 30px;
	position: absolute;
}

.badge {
	font-size: 16px;
	background: #da6e6e;
	color: #fff;
	padding: 0 10px;
	vertical-align: top;
	margin-left: 22px; padding-left : 9px;
	padding-right: 9px;
	border-radius: 10px;
	position: relative;
	padding-left: 9px;
}

#dropdown-link {
	cursor: pointer;
}

#search {
	width: 450px;
}

footer {
	color: #fff;
	background-attachment: fixed;
	background-color: #222;
}

.copyright {
	background-attachment: fixed;
	background-color: #222;
}