	<nav class="navbar navbar-expand-sm bg-light navbar-light">
		<!-- Brand -->
		<a class="navbar-brand" href="#"><i class="fa fa-home"
			aria-hidden="true"></i></a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#">ABC</a></li>

				<!-- start dropdown -->
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
					id="dropdown-link" data-toggle="dropdown">Brands</a>
					<div class="dropdown-menu dropdown-primary"
						aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
					</div></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<!-- end dropdown -->
				<form class="form-inline">
					<input class="form-control" id="search" type="text" placeholder="Search"
						aria-label="Search">
				</form>
				<li class="nav-item"><a class="nav-link" href="#">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-shopping-cart"aria-hidden="true"></i><span class="badge">5</span></a></li>
				
			</ul>
		</div>
	</nav>