<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/client/css/home.css">
<link rel="stylesheet" type="text/css"
	href="resources/client/css/include.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css"
	rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="resources/client/js/home.js"></script>
<script src="resources/client/js/include.js"></script>
<title>Trang chủ</title>
</head>
<body>
	<!-- start header -->
	<div id="header"></div>
	<!-- end header -->

	<!-- start body -->
	<div class="banner">
		<img class="mySlides w3-animate-fading"
			src="resources/client/images/banner1.jpg" style="width: 100%"
			alt="banner1"> <img class="mySlides w3-animate-fading"
			src="resources/client/images/banner2.jpg" style="width: 100%"
			alt="banner2"> <img class="mySlides w3-animate-fading"
			src="resources/client/images/banner3.jpg" style="width: 100%"
			alt="banner3">
	</div>

	<!-- scroll to top button -->
	<div id="scroll"></div>
	<!-- end body -->

	<!-- start footer -->
	<div id="footer"></div>
	<!-- end footer -->


	<!-- script -->
	<script src="resources/client/js/scroll.js"></script>
	<script>
		var slideIndex = 0;
		slideShow();

		function slideShow() {
			var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > x.length) {
				slideIndex = 1
			}
			x[slideIndex - 1].style.display = "block";
			setTimeout(slideShow, 9000);
		}
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>