<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/client/css/include.css">
<script src="resources/client/js/include.js"></script>
</head>
<style>
.login-form {
	margin: 0 auto;	
	width:40%;
}
</style>
<body>
	<div id="header"></div>

	<!-- Default form login -->
	<div class="login-form">
		<form class="text-center border border-light p-5" action="#!">

			<p class="h4 mb-4">Sign in</p>

			<!-- Email -->
			<input type="email" id="defaultLoginFormEmail"
				class="form-control mb-4" placeholder="E-mail">

			<!-- Password -->
			<input type="password" id="defaultLoginFormPassword"
				class="form-control mb-4" placeholder="Password">

			<div class="d-flex justify-content-around">
				<div>
					<!-- Remember me -->
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"
							id="defaultLoginFormRemember"> <label
							class="custom-control-label" for="defaultLoginFormRemember">Remember
							me</label>
					</div>
				</div>
				<div>
					<!-- Forgot password -->
					<a href="">Forgot password?</a>
				</div>
			</div>

			<!-- Sign in button -->
			<button class="btn btn-info btn-block my-4" type="submit">Sign
				in</button>

			<!-- Register -->
			<p>
				Not a member? <a href="">Register</a>
			</p>

			<!-- Social login -->
			<p>or sign in with:</p>

			<a type="button" class="light-blue-text mx-2"> <i
				class="fab fa-facebook-f"></i>
			</a> <a type="button" class="light-blue-text mx-2"> <i
				class="fab fa-twitter"></i>
			</a> <a type="button" class="light-blue-text mx-2"> <i
				class="fab fa-linkedin-in"></i>
			</a> <a type="button" class="light-blue-text mx-2"> <i
				class="fab fa-github"></i>
			</a>

		</form>
		<!-- Default form login -->
	</div>

	<div id="scroll"></div>
	<div id="footer"></div>
</body>
</html>
